.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: #fff;
  border: 2px solid rgb(84, 10, 221);
  padding: 10px 15px;
  height: 27px;
  width: 47px;
  position: relative;
  margin: 0 4px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 8px;
  color: rgba(2, 8, 63, 0.61);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 8px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid rgb(105, 26, 250);
  color: rgb(59, 10, 236);
  pointer-events: none;
}

.paginationItem.paginationItem.active:hover{
  background-color: rgb(29, 29, 163);
}
.paginationItem:hover{
  background-color: rgba(10, 10, 241, 0.89);
}
.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: rgb(19, 2, 37);
}
