.post0{
    display: flexbox;
    flex-direction: column;
    justify-content: flex-start;
}

.post {
    display:flexbox;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin: 8px auto;
    padding: 7px 9px;
    background: #fff;
  }
  
  small {
    border: 2px solid #777;
    border-radius: 2px;
    padding: 5px 3px;
    color: #777;
  }